#e132_1786 {
	overflow: hidden;
	background-color: rgba(
		217.0000022649765,
		217.0000022649765,
		217.0000022649765,
		1
	);
	opacity: 1;
	width: 1366px;
	height: 768px;
	position: absolute;
}
#e132_1787 {
	opacity: 1;
	width: 348px;
	height: 502px;
	position: absolute;
	left: 509px;
	top: 133px;
}
#e132_1788 {
	background-color: rgba(
		42.000001296401024,
		75.00000312924385,
		98.00000175833702,
		1
	);
	opacity: 1;
	width: 348px;
	height: 502px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
}
#e149_1763 {
	background-color: rgba(255, 255, 255, 0);
	opacity: 1;
	width: 101px;
	height: 32px;
	position: absolute;
	left: 213px;
	top: 344px;
}
#e149_1764 {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	background-color: rgba(255, 255, 255, 1);
	opacity: 1;
	width: 101px;
	height: 26px;
	position: absolute;
	left: 0px;
	top: 3px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	font-family: Avenir Next;
	text-align: center;
	font-size: 18px;
	letter-spacing: 0;
	line-height: undefined;
}
#e149_1760 {
	background-color: rgba(255, 255, 255, 0);
	opacity: 1;
	width: 299px;
	height: 54px;
	position: absolute;
	left: 15px;
	top: 164px;
}
#e149_1761 {
	color: rgba(255, 255, 255, 1);
	opacity: 1;
	width: 78px;
	height: 43px;
	position: absolute;
	left: 12px;
	top: 6px;
	font-family: Avenir;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: undefined;
}
#e149_1762 {
	background-color: rgba(
		238.6862137913704,
		238.6862137913704,
		238.6862137913704,
		1
	);
	opacity: 1;
	width: 185px;
	height: 40px;
	position: absolute;
	left: 114px;
	top: 8px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#e149_1754 {
	background-color: rgba(255, 255, 255, 0);
	opacity: 1;
	width: 287.43719482421875px;
	height: 53.33333206176758px;
	position: absolute;
	left: 27px;
	top: 224.18505859375px;
}
#e149_1755 {
	color: rgba(255, 255, 255, 1);
	opacity: 1;
	width: 102px;
	height: 43px;
	position: absolute;
	left: 0px;
	top: 5.81494140625px;
	font-family: Avenir;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: undefined;
}
#e149_1756 {
	background-color: rgba(
		238.6862137913704,
		238.6862137913704,
		238.6862137913704,
		1
	);
	opacity: 1;
	width: 185px;
	height: 40px;
	position: absolute;
	left: 102px;
	top: 8.81494140625px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#e149_1757 {
	background-color: rgba(255, 255, 255, 0);
	opacity: 1;
	width: 287.43719482421875px;
	height: 53.33333206176758px;
	position: absolute;
	left: 27px;
	top: 284.18505859375px;
}
#e149_1758 {
	color: rgba(255, 255, 255, 1);
	opacity: 1;
	width: 91px;
	height: 33px;
	position: absolute;
	left: 0px;
	top: 10.81494140625px;
	font-family: Avenir;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: undefined;
}
#e149_1759 {
	background-color: rgba(
		238.6862137913704,
		238.6862137913704,
		238.6862137913704,
		1
	);
	opacity: 1;
	width: 185px;
	height: 40px;
	position: absolute;
	left: 102px;
	top: 7.81494140625px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#e132_1795 {
	opacity: 1;
	width: 348px;
	height: 64px;
	position: absolute;
	left: 0px;
	top: 35px;
}
#ei132_1795_9_21 {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: rgba(255, 255, 255, 1);
	opacity: 1;
	width: 348px;
	height: 64px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Avenir Next;
	text-align: center;
	font-size: 64px;
	letter-spacing: 0;
	line-height: undefined;
}
#ei132_1795_82_22 {
	opacity: 1;
	border: 5px solid rgba(255, 255, 255, 0);
	width: 207px;
	height: 0px;
	position: absolute;
	left: 67px;
	top: 63px;
}
#e132_1821 {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
	opacity: 1;
	width: 81px;
	height: 45px;
	position: absolute;
	left: 535px;
	top: 567px;
}
#e132_1822 {
	background-color: rgba(
		119.18751284480095,
		119.48480889201164,
		119.6862056851387,
		1
	);
	opacity: 1;
	width: 81px;
	height: 45px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	font-family: Avenir;
	text-align: center;
	font-size: 18px;
	letter-spacing: 0;
	line-height: undefined;
	color: rgba(255, 255, 255, 1);
}